# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Visual Studio
.vs/

# NuGet packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Logs
*.log

# Resharper
_ReSharper*/
*.DotSettings.user

# OS-specific
.DS_Store
Thumbs.db
